.main-app {
    width: 100%;
    height: 100vh;
    padding-top: 5%;
}
#quote-box {
    width: 80%;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-top: 3rem;
}

#tweet-quote {
    font-family: "Poppins", sans-serif;
    width: 5rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
